@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
}

.header {
  color: #fff;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 5px 0px;
	  background-color: rgba(0, 0, 0, 0.7);
}


.nav-bar .title {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  padding: 0px 30px;
}

span {
  color: #BCFD4C;
  font-weight: bold;
  border-radius: 2px;
}


.page li {
  list-style: none;
  display: inline-block;
}


.page li a {
  text-decoration: none;
  color: #fff;
  font-size: 150%;
  font-weight: 600;
  margin-left: 25px;
  transition: .4s ease;
}


.page li a:hover {
  color: #BCFD4C;
  padding: 10px 20px;
  border: 2px solid;
  cursor: pointer;
}

.container {
  height: calc(100vh - 40px);
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: auto;
}

.container::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/Index_Wallpaper.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  pointer-events: none; 
  z-index: -1;
}


.page-title {
  text-align: center;
  font-size: 32px;
  color: #fff;
  margin-bottom: 30px;
}

.filter-wrapper {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}


.filter_button{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
    justify-content: center; 
}


button{
	padding: 10px 20px;
	font-size: 15px;
	background: #fff;	
}

button:hover{
    color: crimson;
    padding: 10px 20px;
    border: 2px solid;
	transition: 0.2s ease;
	cursor: pointer;
}

.filter_button button.filter-active {
  background: #F26E70;
  color: #fff;
}


.menu{
	padding: 20px 20px;
	margin-top: 0px;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.menu .itemBox{
	flex-grow: 1;
	flex-basis: 300px;
	background-color: #fff;
	padding: 3px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s ease;
}

.menu .itemBox img{
	width: 100%;
	height: 210px;
	object-fit: cover;
	border-radius: 8px 8px 0 0; 
}


.itemBox.hide{
	display: none;
}


.menu .itemBox:hover{
	transform: scale(1.04);
}

.item-body{
	padding: 15 20 20;
	
}

.item-title {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}


.item-price {
    font-size: 17px;
}

.basket{
    margin: 20px;
    background-color: #fff;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 19px;
}


